$primary-font : 'Poppins', sans-serif;
$red : #FF4C60;
$blue : #6c6ce5;
$yellow : #f9d74c;
$pink : rgb(249, 123, 139);
$text-heading : #454360;
$text-darkcolor :  #5E5C7F ;
$text-lightcolor : #f8f9fa;
$time : #8B88B1;
$white : #fff;
$bg : #f9f9ff;