section.contact
    .container
        +headingText("Contact Me")
        .contact-content
            +contactItem
            +contactItem("fas fa-phone", "+84 905705176")
            +contactItem("fab fa-facebook-f", "fb.com/nghghieu", "https://fb.com/nghghieu")

                
            

