section.header
    .container
        .header-nav
            .header-img 
                h2 NH-Hieu.
            ul.header-menu 
                +headerItem
                +headerItem('#about', 'About')
                +headerItem('#resume', 'Resume')
                +headerItem('#work', 'Work')
                +headerItem('#contact', 'Contact')
            