section.header
    .container
        .header-nav
            .header-img 
                h2 NH-Hieu.
            ul.header-menu 
                +headerItem
                +headerItem('#', 'About')
                +headerItem('#', 'Resume')
                +headerItem('#', 'Work')
                +headerItem('#', 'Contact')
            