section.intro
    .container
        .intro-content 
            img.intro-image(src="./images/authorimage.png", alt="")
            p.intro-name Hieu Nguyen 
            p.intro-job I'm a Fresher Front-End
            a.intro-button.button(href="#") Hire Me