section.intro
    .container
        .intro-content 
            img.intro-image(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQY9Y-5qYxOvE2YjHGhV5Wvl4upT8gsK93zrw&usqp=CAU", alt="")
            p.intro-name Hieu Nguyen 
            p.intro-job I'm a Fresher Front-End
            a.intro-button.button(href="#") Hire Me