section.resume
    .container
        +headingText("Resume")
        .resume-container
            .resume-left
                h3.resume-title Education
                .resume-content
                   +resumeItemLeft("2016 - 2021","University of Science and Technology", "My specialty is telecommunication electronic engineering.")
            .resume-right
                h3.resume-title Experience
                .resume-content
                    +resumeItemRight("2021 - Present","Front End Developer","Convert Psd to Html, basic Javascript and more.")



