section.resume
    .container
        +headingText("Resume")
        .resume-container
            .resume-left
                h3.resume-title Education
                .resume-content
                   .resume-item
                        i.fas.fa-graduation-cap
                        span.resume-item-time 2021 - Present
                        h4.resume-item-text Front End Developer
                        p.resume-item-desc Cut PSD to Html, basic Javascript and somthing more. 
            .resume-right
                h3.resume-title Experience
                .resume-content
                    .resume-item
                        i.fas.fa-briefcase
                        span.resume-item-time 2021 - Present
                        h4.resume-item-text Front End Developer
                        p.resume-item-desc Cut PSD to Html, basic Javascript and somthing more. 



