section.resume
    .container
        +headingText("Resume")
        .resume-container
            .resume-left
                h3.resume-title Education
                .resume-content
                    +resumeItem("2016 - 2021","University of Science and Technology","My speciality is Telecommunication Electronic Engineering.")
            .resume-right
                h3.resume-title Experience
                .resume-content
                    +resumeItem("2021 - Present","Front End Developer","Cut PSD to Html, basic Javascript and somthing more. ")



