section.work
    .container
        +headingText("Recent Works")
        ul.work-list
            +worklistItem()
            +worklistItem("Landing")
            +worklistItem("Resume")
            +worklistItem("Page")
        .work-content
            +workItem("./images/image1.png","Fylo Landing","https://peaceful-clarke-6206e8.netlify.app/")
            +workItem("./images/image2.png","Fylo Landing","https://focused-pare-70dc1c.netlify.app/")
            +workItem("./images/image3.png","Huddle Landing","https://vigilant-lalande-b9ca49.netlify.app/")
            +workItem("./images/image4.png","Huddle Landing","https://vigilant-lalande-b9ca49.netlify.app/")
            +workItem("./images/image5.png","My Work","https://focused-pare-70dc1c.netlify.app/")
            +workItem("./images/image6.png","Mitech Business","https://eager-liskov-841b41.netlify.app/")